@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_TraqLayout.cshtml";
}
<h2 align="center" style="color:white;background-color:grey;">About</h2>

<p>Traq Software Assessment is a new Web solution to manage people, their accounts and transactions logged against these accounts.</p>
<br />
<p>This web solution is built in line with SOLID principles in order to promote reusability of components and readability of code.</p>
<p>The system components are loosley coupled to allow seamless scalability of the application.</p>

<br />
<p>The functions of this system can be exposed to mobile application deveopment via APIs and have consistent fucntionality to that</p>
<p>of the web system due to the reusability of the systems components.</p>