
@{
    Layout = "~/Views/Shared/_TraqLayout.cshtml";
}







<div 
    >
    
    <img src="../Content/Banking.jpg" style="height:500px!important; width: 100% !important; background-position: center;" />
    <div class="row">
        <div class="col-md-6">
            <h2>What is Traq Software Assessment</h2>
            <p>
                Traq Software Assessment is a new Web solution to manage people, their accounts and transactions logged
                against these accounts.
            </p>
        </div>
        <div class="col-md-6">
            <h2>How to use Traq Software Assessment</h2>
            <p>
                1.	Access the Website @Html.ActionLink("Traq Software Assessment", "Index", "Home")
                <br />2.	@Html.ActionLink("Register", "Register", "Account") on the Traq Software Assessment
                <br />3.	Complete the short Registration Form
                <br />5.	@Html.ActionLink("Login", "Login", "Account") to Traq Software Assessment
                <br />6.	View an update client details and their accounts and transactions.
            </p>
        </div>
    </div>



    <div class="divider">&nbsp;</div>
</div>


